.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #659ebc;
}

h1 {
  margin: 30px;
  font-family:  cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #ffff;
}

p {
  font-size: 2rem;
  color: #ffff;
  font-family: cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}



#btn {
  font-size:20px;
  width:188px;
  height:40px;
  border-width:1px;
  color:#fff;
  border-color:rgba(24, 124, 171, 1);
  font-weight:bold;
  border-radius:28px;
  background:rgba(68, 135, 199, 1);
}

#btn:hover {
  background: #5cbf2a;
  cursor: pointer;
}
              
              


              
